# Ignore Python stuff
backend/venv/
backend/__pycache__/
*.pyc
backend/.env
backend/*.json

# Ignore frontend build if using React
frontend/node_modules/
frontend/dist/
frontend/build/

# VS Code
.vscode/
